<script setup>
const localePath = useLocalePath()
</script>

<template>
    <footer class="bottom-0 w-full bg-primary pt-6">
        <CommonContainer class="px-4">
            <ul class="flex flex-row gap-4 py-2 px-4 border-b border-white text-white font-semibold">
                <li class="menu-item-list-light">
                    <NuxtLink :to="localePath('/about')">
                        {{ $t('menus.about') }}
                    </NuxtLink>
                </li>
                <li class="menu-item-list-light">
                    <NuxtLink :to="localePath('/')">
                        {{ $t('menus.support') }}
                    </NuxtLink>
                </li>
                <li class="menu-item-list-light">
                    <NuxtLink :to="localePath('/pricing')">
                        {{ $t('menus.fees') }}
                    </NuxtLink>
                </li>
            </ul>
            <p class="text-white text-sm py-4">{{ $t('copyright') }} &copy; 2024 Payku Payment &#124; {{ $t('powered_by') }} Payku Payment</p>
        </CommonContainer>
    </footer>
</template>