<script setup>
const {locale, setLocale} = useI18n()
const localePath = useLocalePath()
const isOpen =  useState('isOpen', () => false)
</script>


<template>
    <header class="w-full border-b-2 border-primary py-2 flex">
        <CommonContainer>
            <div class="flex md:hidden py-2 px-3">
                <button @click="isOpen = !isOpen" class="ml-auto">
                    <Icon :name="isOpen ? 'mdi:close' : 'mdi:hamburger-menu'" size="32"/>
                </button>
            </div>

            <nav>
                <ul :class="`${isOpen ? '' : 'hidden'} px-4 md:px-0 md:flex flex-col md:flex-row gap-6 items-center justify-end font-semibold`">
                    <li class="menu-item-list">
                        <a :href="localePath('/')" class="w-full inline-block">
                            {{ $t('menus.home') }}
                        </a>
                    </li>
                    <li class="menu-item-list">
                        <a :href="localePath('/about-us')" class="w-full inline-block">
                            {{ $t('menus.about') }}
                        </a>
                    </li>
                    <li class="menu-item-list">
                        <a :href="localePath('/payment-method')" class="w-full inline-block">
                            {{ $t('menus.payment') }}
                        </a>
                    </li>
                    <li class="menu-item-list">
                        <a :href="localePath('/pricing')" class="w-full inline-block">
                            {{ $t('menus.pricing') }}
                        </a>
                    </li>
                    <li class="menu-item-list">
                        <a :href="localePath('/contact')" class="w-full inline-block">
                            {{ $t('menus.contact') }}
                        </a>
                    </li>
                    <li class="bg-primary px-4 py-3 text-white font-normal">
                        <a href="https://app.paykupayments.com/" target="_blank">
                            {{ $t('menus.login') }}
                        </a>
                    </li>

                    <li class="flex flex-row gap-2 mt-2 md:mt-0">
                        <button @click="setLocale('id')" :class="locale === 'en' ? 'grayscale' : ''">
                            <Icon size="24" name="emojione:flag-for-indonesia" />
                        </button>
                        <button @click="setLocale('en')" :class="locale === 'id' ? 'grayscale' : ''">
                            <Icon size="24" name="circle-flags:uk"/>
                        </button>
                    </li>
                </ul>
            </nav>
        </CommonContainer>
    </header>
</template>