<script setup>
defineProps({
    title: String,
    subtitle: String,
    imgUrl: String
})
</script>

<template>
    <div class="bg-white border border-primary p-5 flex flex-col justify-center items-center gap-4 rounded-md h-[360px]">
        <img :src="imgUrl" class="my-4 w-20" alt=""
            srcset="">
        <h4 class="text-center text-3xl font-semibold">{{ title }}</h4>
        <p class="text-center leading-relaxed text-sm">{{ subtitle }}</p>
    </div>
</template>