<script setup>
import '../payment-methods.json'
const { tm } = useI18n()

const activeMethodTab = useState('activeTab', () => tm('payment_methods_data')[0])
</script>

<template>
    <div class="flex flex-row gap-6">
        <div class="w-full md:w-3/12 flex flex-col gap-2 py-6">
            <div v-for="(method) in $tm('payment_methods_data')" >
                <div 
                    @click="activeMethodTab = method"
                    :class="`cursor-pointer py-4 px-8 rounded-lg font-semibold ${method.payment_method_name_long === activeMethodTab.payment_method_name_long ? 'shadow-gray-300 shadow-lg text-primary/50' : 'text-primary'}`"
                >
                    {{ method.payment_method_name_short }}
                </div>
    
                <div class="w-full py-10 block md:hidden" v-if="method.payment_method_name_long === activeMethodTab.payment_method_name_long">
                    <h3 class="text-2xl text-primary font-semibold">{{ activeMethodTab.payment_method_name_long }}</h3>
                    <p class="text-normal text-primary leading-relaxed text-pretty mt-4">{{ activeMethodTab.description }}</p>
                    <img :src="activeMethodTab.image" :alt="activeMethodTab.payment_method_name_long" class="mt-4">
                </div>
            </div>
        </div>
        

        <div class="w-9/12 py-10 hidden md:block">
            <h3 class="text-2xl text-primary font-semibold">{{ activeMethodTab.payment_method_name_long }}</h3>
            <p class="text-normal text-primary leading-relaxed text-pretty mt-4">{{ activeMethodTab.description }}</p>
            <img :src="activeMethodTab.image" :alt="activeMethodTab.payment_method_name_long" class="mt-4">
        </div>
    </div>
</template>