html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, form, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

label {
    @apply text-primary font-semibold
}

.menu-item-list {
    @apply text-primary hover:text-primary/50 border-b md:border-b-0 border-primary/40 py-2 md:py-0
}

.menu-item-list-light {
    @apply text-white hover:text-white/50 py-2 md:py-0
}