<template>
    <main>
        <section class="bg-secondary">
            <CommonContainer>
                <div class="text-center flex flex-col justify-center items-center py-10">
                    <div class="py-10 px-4 md:px-0">
                        <h1 class="text-4xl md:text-5xl lg:text-8xl font-semibold text-primary" data-aos="fade-up">{{ $t('about_us') }}</h1>
                        <p class="leading-relaxed text-normal text-primary mt-4" v-html="$t('welcome_to_payku')"></p>
                    </div>
                </div>
            </CommonContainer>
        </section>

        <section class="py-10">
            <CommonContainer class="grid grid-cols-1 md:grid-cols-3 justify-center items-center gap-y-6 gap-x-2 text-center">  
                <div class="flex flex-col justify-center items-center gap-6 p-4">
                    <div class="bg-primary w-24 h-24 rounded-full flex justify-center items-center">
                        <Icon name="wpf:group" size="48" class="text-white"/>
                    </div>
                    <p class="text-2xl font-medium text-primary">{{ $t('about_1') }}</p>
                </div>
                <div class="flex flex-col justify-center items-center gap-6 p-4">
                    <div class="bg-primary w-24 h-24 rounded-full flex justify-center items-center">
                        <Icon name="fa6-solid:earth-asia" size="48" class="text-white"/>
                    </div>
                    <p class="text-2xl font-medium text-primary">{{ $t('about_2') }}</p>
                </div>
                <div class="flex flex-col justify-center items-center gap-6 p-4">
                    <div class="bg-primary w-24 h-24 rounded-full flex justify-center items-center">
                        <Icon name="octicon:graph-16" size="48" class="text-white"/>
                    </div>
                    <p class="text-2xl font-medium text-primary">{{ $t('about_3') }}</p>
                </div>
            </CommonContainer>
        </section>

        <section class="bg-secondary pb-10">
            <CommonContainer>
                <div class="flex flex-col items-center justify-center gap-3 p-10 text-center text-primary">
                    <p>{{ $t('our_values') }}</p>
                    <h3 class="text-5xl mt-2 font-semibold text-balance">{{ $t('our_values_title') }}</h3>
                    <p class="text-normal">{{ $t('onboarding') }}</p>
                </div>
    
                <div class="grid grid-cols-1 md:grid-cols-2 gap-6 ">
                    <div class="bg-white p-5 rounded-lg flex flex-col md:text-left text-center md:flex-row md:items-start items-center gap-5">
                        <div class="bg-primary p-4 rounded-full block">
                            <Icon name="mdi:idea" size="36" class="text-white"/>
                        </div>
                        
                        <div>
                            <h5 class="text-primary font-semibold text-2xl md:text-3xl">{{ $t('our_mission') }}</h5>
                            <p class="text-primary text-normal mt-2">{{ $t('our_mission_title') }}</p>
                        </div>
                    </div>

                    <div class="bg-white p-5 rounded-lg flex flex-col md:text-left text-center md:flex-row md:items-start items-center gap-5">
                        <div class="bg-primary p-4 rounded-full block">
                            <Icon name="mdi:user-check" size="36" class="text-white"/>
                        </div>
                        
                        <div>
                            <h5 class="text-primary font-semibold text-2xl md:text-3xl">{{ $t('who_we_are') }}</h5>
                            <p class="text-primary text-normal mt-2">{{ $t('who_we_are_title') }}</p>
                        </div>
                    </div>
                    
                    <div class="bg-white p-5 rounded-lg flex flex-col md:text-left text-center md:flex-row md:items-start items-center gap-5 md:col-span-2">
                        <div class="bg-primary p-4 rounded-full block">
                            <Icon name="iconoir:star-solid" size="36" class="text-white"/>
                        </div>
                        
                        <div>
                            <h5 class="text-primary font-semibold text-2xl md:text-3xl">{{ $t('what_we_offer') }}</h5>
                            <ul class="mt-2 text-normal list-disc md:pl-6" v-html="$t('what_we_offer_list')"></ul>
                        </div>
                    </div>

                    <div class="bg-white p-5 rounded-lg flex flex-col md:text-left text-center md:flex-row md:items-start items-center gap-5 md:col-span-2">
                        <div class="bg-primary p-4 rounded-full block">
                            <Icon name="heroicons:user-group-16-solid" size="36" class="text-white"/>
                        </div>
                        
                        <div>
                            <h5 class="text-primary font-semibold text-2xl md:text-3xl">{{ $t('why_choose_payku') }}</h5>
                            <ul class="mt-2 text-normal list-disc md:pl-6" v-html="$t('why_choose_payku_list')"></ul>
                        </div>
                    </div>
                    
                </div>
            </CommonContainer>
        </section>

        <section class="w-full h-[400px] bg-no-repeat bg-center bg-secondary bg-[url('https://paykupayments.com/wp-content/uploads/2023/05/banner-map.png')]">
            <CommonContainer class="py-10 px-4 md:px-0">
                <div class="flex flex-col justify-center items-center" data-aos="fade-up">
                    <div class="flex flex-col justify-center items-center text-center">
                        <h5 class="text-4xl md:text-5xl text-primary font-semibold">{{ $t('menus.contact') }}</h5>
                        <p class="text-normal text-primary mt-5">{{ $t('join_us') }}</p>
                    </div>
                    <div class="flex flex-row gap-6 justify-center items-center mt-4">
                        <button class="bg-primary px-6 py-2 text-white">{{ $t('menus.contact_sales') }}</button>
                        <button class="bg-primary px-6 py-2 text-white">{{ $t('menus.request_demo') }}</button>
                    </div>
                </div>
            </CommonContainer>
        </section>
    </main>
</template>