<script setup>
import Button from '~/components/button.vue';

const formType = useState('type', () => 1)
</script>

<style>

</style>

<template>
    <main class="w-full">
        <section class="bg-secondary">
            <CommonContainer>
                <div class="flex flex-col justify-center items-center w-full py-10">
                    <img src="https://paykupayments.com/wp-content/uploads/2023/05/illustration-3.png" alt="dd"/>
                    <h1 class="text-4xl md:text-5xl lg:text-8xl text-primary font-semibold text-center">{{ $t('menus.contact') }}</h1>
                </div>
            </CommonContainer>
        </section>
        
        <section class="w-full py-10 px-4 md:px-0">
            <CommonContainer>
                <div class="flex justify-center">
                    <div class="container border m-auto">
                        <!-- Tab buttons -->
                        <ul class="border-b py-6 text-sm md:text-base">
                            <li @click="formType = 1" :class="`px-8 cursor-pointer bg-white inline py-6 ${formType === 1 ? 'text-green-400 border border-b-2 border-b-white' : 'text-primary border-b-0'} font-semibold`">{{ $t('menus.contact_sales') }}</li>
                            <li @click="formType = 2" :class="`px-8 cursor-pointer bg-white inline py-6 ${formType === 2 ? 'text-green-400 border border-b-2 border-b-white' : 'text-primary border-b-0'} font-semibold`">{{ $t('menus.request_demo') }}</li>
                        </ul>
    
                        <!-- Form 1 -->
                        <form class="p-8 gap-3" id="form1" v-if="formType === 1">
                            <div class="flex flex-col gap-3">
                                <div class="flex flex-col w-full md:w-1/3">
                                    <label for="">{{ $t('your_name') }}</label>
                                    <Textinput/>
                                </div>    
    
                                <div class="flex flex-col w-full md:w-1/3">
                                    <label for="">{{ $t('your_email') }}</label>
                                    <Textinput/>
                                </div>
    
                                <div class="flex flex-col w-full md:w-1/3">
                                    <label for="">{{ $t('phone_number') }}</label>
                                    <Textinput/>
                                </div>
    
                                <div class="flex flex-col">
                                    <label for="">{{ $t('your_message') }}</label>
                                    <Textareainput/>
                                </div>
                            </div>
                            
                            <Button class="bg-primary text-white mt-6">Submit</Button>
                        </form>
    
                        <!-- Form 2 -->
                        <form class="p-8 gap-3" id="form1" v-if="formType === 2">
                            <div class="flex flex-col gap-3">
                                <div class="flex flex-col w-full md:w-1/3">
                                    <label for="">{{ $t('your_name') }}</label>
                                    <Textinput/>
                                </div>    
    
                                <div class="flex flex-col w-full md:w-1/3">
                                    <label for="">{{ $t('your_email') }}</label>
                                    <Textinput/>
                                </div>
    
                                <div class="flex flex-col w-full md:w-1/3">
                                    <label for="">{{ $t('phone_number') }}</label>
                                    <Textinput/>
                                </div>
    
                                <div class="flex flex-col w-full md:w-1/3">
                                    <label for="">{{ $t('hotel_name') }}</label>
                                    <Textinput/>
                                </div>
    
                                <div class="flex flex-col w-full md:w-1/3">
                                    <label for="">{{ $t('date') }}</label>
                                    <Datepicker/>
                                </div>
    
                                <div class="flex flex-col w-full md:w-1/3">
                                    <label for="">{{ $t('time') }}</label>
                                    <Timepicker/>
                                </div>
    
                                <div class="flex flex-col">
                                    <label for="">{{ $t('your_message') }}</label>
                                    <Textareainput/>
                                </div>
                            </div>
                            
                            <Button class="bg-primary text-white mt-6">Submit</Button>
                        </form>
                    </div>
                </div>
            </CommonContainer>
        </section>
    </main>
</template>å