<style>
.figure-animation {
    margin-left: -40px;
  -webkit-animation: rotation 4s infinite linear;
}


@keyframes rotation {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 20px;
  }
}

</style>

<template>
    <main>
        <section class="relative bg-secondary bg-[url('https://paykupayments.com/wp-content/uploads/2023/05/banner-map.png')] bg-no-repeat bg-right lg:h-[90vh]">
            <div class="bg-[url('https://paykupayments.com/wp-content/uploads/2023/05/banner-clock.webp')] bg-no-repeat opacity-50 bg-left-top w-full h-full absolute"></div>
            <img class="absolute bottom-0 right-0 figure-animation hidden lg:block" fetchpriority="high" decoding="async" src="https://paykupayments.com/wp-content/uploads/2023/05/image-1.webp" alt="" srcset="https://paykupayments.com/wp-content/uploads/2023/05/image-1.webp 291w, https://paykupayments.com/wp-content/uploads/2023/05/image-1-180x300.webp 180w" sizes="(max-width: 291px) 100vw, 291px">
            <img class="absolute -left-20 bottom-0 figure-animation" decoding="async" src="https://paykupayments.com/wp-content/uploads/2023/05/image.webp" alt="" srcset="https://paykupayments.com/wp-content/uploads/2023/05/image.webp 404w, https://paykupayments.com/wp-content/uploads/2023/05/image-300x254.webp 300w" sizes="(max-width: 404px) 100vw, 404px">
            <img class="absolute left-1/2 -bottom-10 figure-animation" loading="lazy" decoding="async" width="260" height="196" src="https://paykupayments.com/wp-content/uploads/2023/05/banner-rocket.webp" alt="">
            <CommonContainer class="py-12 md:py-10 px-4 lg:px-0 z-[9999px] relative" as="div">
                <div class="w-full md:w-[56%]" data-aos="fade-up">
                    <h1 class="text-primary text-3xl md:text-4xl lg:text-5xl text-balance font-semibold">{{ $t('home_detail') }}</h1>
                    
                    <p class="py-10 text-primary text-sm tracking-wide" v-html="$t('home_subdetail')"></p>
    
                    <div class="flex flex-col md:flex-row gap-4 items-cente md:mt-10 md:ml-10">
                        <Button class="bg-primary text-white ring-0 font-semibold">
                            {{ $t('menus.request_demo') }}
                        </Button>
                        <Button class="bg-white">
                            {{ $t('menus.contact_sales') }}
                        </Button>
                        <Button class="bg-primary text-white ring-0 font-semibold">
                            {{ $t('menus.register') }}
                        </Button>
                    </div>
                </div>
            </CommonContainer>
            
        </section>

        <section class="my-10" data-aos="fade-up">
            <CommonContainer>
                <div class="flex flex-col items-center justify-center gap-3 p-10 text-center text-primary font-semibold">
                    <p>{{ $t('heartbeat') }}</p>
                    <h3 class="text-3xl leading-relaxed md:text-5xl mt-2 text-balance">{{ $t('effortless') }}</h3>
                    <p>{{ $t('onboarding') }}</p>
                </div>
            </CommonContainer>
        </section>

        <section class="bg-[url('https://paykupayments.com/wp-content/uploads/2023/05/image-2.webp')] bg-no-repeat bg-auto w-full pb-10">
            <CommonContainer>
                <div class="flex items-end justify-end text-primary px-4 md:px-0">
                    <div class="grid grid-cols-1 md:grid-cols-2 justify-items-end lg:w-3/5 items-end gap-4">
                        <Benefitcard
                            data-aos="fade-up"
                            :title="$t('benefit_1.title')"
                            :subtitle="$t('benefit_1.subtitle')"
                            img-url="https://paykupayments.com/wp-content/uploads/2023/05/image-3.webp"
                        />
                        <Benefitcard 
                            data-aos="fade-up"
                            :title="$t('benefit_2.title')"
                            :subtitle="$t('benefit_2.subtitle')"
                            img-url="https://paykupayments.com/wp-content/uploads/2023/05/image-4.webp"
                        />
                        <Benefitcard 
                            data-aos="fade-up"
                            :title="$t('benefit_3.title')"
                            :subtitle="$t('benefit_3.subtitle')"
                            img-url="https://paykupayments.com/wp-content/uploads/2023/05/image-5.webp"
                        />
                        <Benefitcard 
                            data-aos="fade-up"
                            :title="$t('benefit_4.title')"
                            :subtitle="$t('benefit_4.subtitle')"
                            img-url="https://paykupayments.com/wp-content/uploads/2023/05/image-6.webp"
                        />
                    </div>
                </div>
            </CommonContainer>
        </section>

        <section class="w-full bg-primary text-white mt-10" data-aos="fade-up">
                <svg class="h-10 w-full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 283.5 27.8" preserveAspectRatio="none">
                    <path class="fill-white" d="M283.5,9.7c0,0-7.3,4.3-14,4.6c-6.8,0.3-12.6,0-20.9-1.5c-11.3-2-33.1-10.1-44.7-5.7	s-12.1,4.6-18,7.4c-6.6,3.2-20,9.6-36.6,9.3C131.6,23.5,99.5,7.2,86.3,8c-1.4,0.1-6.6,0.8-10.5,2c-3.8,1.2-9.4,3.8-17,4.7	c-3.2,0.4-8.3,1.1-14.2,0.9c-1.5-0.1-6.3-0.4-12-1.6c-5.7-1.2-11-3.1-15.8-3.7C6.5,9.2,0,10.8,0,10.8V0h283.5V9.7z M260.8,11.3	c-0.7-1-2-0.4-4.3-0.4c-2.3,0-6.1-1.2-5.8-1.1c0.3,0.1,3.1,1.5,6,1.9C259.7,12.2,261.4,12.3,260.8,11.3z M242.4,8.6	c0,0-2.4-0.2-5.6-0.9c-3.2-0.8-10.3-2.8-15.1-3.5c-8.2-1.1-15.8,0-15.1,0.1c0.8,0.1,9.6-0.6,17.6,1.1c3.3,0.7,9.3,2.2,12.4,2.7	C239.9,8.7,242.4,8.6,242.4,8.6z M185.2,8.5c1.7-0.7-13.3,4.7-18.5,6.1c-2.1,0.6-6.2,1.6-10,2c-3.9,0.4-8.9,0.4-8.8,0.5	c0,0.2,5.8,0.8,11.2,0c5.4-0.8,5.2-1.1,7.6-1.6C170.5,14.7,183.5,9.2,185.2,8.5z M199.1,6.9c0.2,0-0.8-0.4-4.8,1.1	c-4,1.5-6.7,3.5-6.9,3.7c-0.2,0.1,3.5-1.8,6.6-3C197,7.5,199,6.9,199.1,6.9z M283,6c-0.1,0.1-1.9,1.1-4.8,2.5s-6.9,2.8-6.7,2.7	c0.2,0,3.5-0.6,7.4-2.5C282.8,6.8,283.1,5.9,283,6z M31.3,11.6c0.1-0.2-1.9-0.2-4.5-1.2s-5.4-1.6-7.8-2C15,7.6,7.3,8.5,7.7,8.6	C8,8.7,15.9,8.3,20.2,9.3c2.2,0.5,2.4,0.5,5.7,1.6S31.2,11.9,31.3,11.6z M73,9.2c0.4-0.1,3.5-1.6,8.4-2.6c4.9-1.1,8.9-0.5,8.9-0.8	c0-0.3-1-0.9-6.2-0.3S72.6,9.3,73,9.2z M71.6,6.7C71.8,6.8,75,5.4,77.3,5c2.3-0.3,1.9-0.5,1.9-0.6c0-0.1-1.1-0.2-2.7,0.2	C74.8,5.1,71.4,6.6,71.6,6.7z M93.6,4.4c0.1,0.2,3.5,0.8,5.6,1.8c2.1,1,1.8,0.6,1.9,0.5c0.1-0.1-0.8-0.8-2.4-1.3	C97.1,4.8,93.5,4.2,93.6,4.4z M65.4,11.1c-0.1,0.3,0.3,0.5,1.9-0.2s2.6-1.3,2.2-1.2s-0.9,0.4-2.5,0.8C65.3,10.9,65.5,10.8,65.4,11.1	z M34.5,12.4c-0.2,0,2.1,0.8,3.3,0.9c1.2,0.1,2,0.1,2-0.2c0-0.3-0.1-0.5-1.6-0.4C36.6,12.8,34.7,12.4,34.5,12.4z M152.2,21.1	c-0.1,0.1-2.4-0.3-7.5-0.3c-5,0-13.6-2.4-17.2-3.5c-3.6-1.1,10,3.9,16.5,4.1C150.5,21.6,152.3,21,152.2,21.1z"></path>
                    <path class="fill-white" d="M269.6,18c-0.1-0.1-4.6,0.3-7.2,0c-7.3-0.7-17-3.2-16.6-2.9c0.4,0.3,13.7,3.1,17,3.3	C267.7,18.8,269.7,18,269.6,18z"></path>
                    <path class="fill-white" d="M227.4,9.8c-0.2-0.1-4.5-1-9.5-1.2c-5-0.2-12.7,0.6-12.3,0.5c0.3-0.1,5.9-1.8,13.3-1.2	S227.6,9.9,227.4,9.8z"></path>
                    <path class="fill-white" d="M204.5,13.4c-0.1-0.1,2-1,3.2-1.1c1.2-0.1,2,0,2,0.3c0,0.3-0.1,0.5-1.6,0.4	C206.4,12.9,204.6,13.5,204.5,13.4z"></path>
                    <path class="fill-white" d="M201,10.6c0-0.1-4.4,1.2-6.3,2.2c-1.9,0.9-6.2,3.1-6.1,3.1c0.1,0.1,4.2-1.6,6.3-2.6	S201,10.7,201,10.6z"></path>
                    <path class="fill-white" d="M154.5,26.7c-0.1-0.1-4.6,0.3-7.2,0c-7.3-0.7-17-3.2-16.6-2.9c0.4,0.3,13.7,3.1,17,3.3	C152.6,27.5,154.6,26.8,154.5,26.7z"></path>
                    <path class="fill-white" d="M41.9,19.3c0,0,1.2-0.3,2.9-0.1c1.7,0.2,5.8,0.9,8.2,0.7c4.2-0.4,7.4-2.7,7-2.6	c-0.4,0-4.3,2.2-8.6,1.9c-1.8-0.1-5.1-0.5-6.7-0.4S41.9,19.3,41.9,19.3z"></path>
                    <path class="fill-white" d="M75.5,12.6c0.2,0.1,2-0.8,4.3-1.1c2.3-0.2,2.1-0.3,2.1-0.5c0-0.1-1.8-0.4-3.4,0	C76.9,11.5,75.3,12.5,75.5,12.6z"></path>
                    <path class="fill-white" d="M15.6,13.2c0-0.1,4.3,0,6.7,0.5c2.4,0.5,5,1.9,5,2c0,0.1-2.7-0.8-5.1-1.4	C19.9,13.7,15.7,13.3,15.6,13.2z"></path>
                </svg>
                <CommonContainer>
                    <div class="flex flex-col items-center justify-center gap-3 p-20 text-center">
                        <p>{{ $t('highspeed') }}</p>
                        <h3 class="text-3xl md:text-5xl mt-2 font-semibold text-pretty">{{ $t('inoneplace') }}</h3>
                    </div>
                </CommonContainer>
                <svg class="rotate-180 h-10 w-full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 283.5 27.8" preserveAspectRatio="none">
                    <path class="fill-white" d="M283.5,9.7c0,0-7.3,4.3-14,4.6c-6.8,0.3-12.6,0-20.9-1.5c-11.3-2-33.1-10.1-44.7-5.7	s-12.1,4.6-18,7.4c-6.6,3.2-20,9.6-36.6,9.3C131.6,23.5,99.5,7.2,86.3,8c-1.4,0.1-6.6,0.8-10.5,2c-3.8,1.2-9.4,3.8-17,4.7	c-3.2,0.4-8.3,1.1-14.2,0.9c-1.5-0.1-6.3-0.4-12-1.6c-5.7-1.2-11-3.1-15.8-3.7C6.5,9.2,0,10.8,0,10.8V0h283.5V9.7z M260.8,11.3	c-0.7-1-2-0.4-4.3-0.4c-2.3,0-6.1-1.2-5.8-1.1c0.3,0.1,3.1,1.5,6,1.9C259.7,12.2,261.4,12.3,260.8,11.3z M242.4,8.6	c0,0-2.4-0.2-5.6-0.9c-3.2-0.8-10.3-2.8-15.1-3.5c-8.2-1.1-15.8,0-15.1,0.1c0.8,0.1,9.6-0.6,17.6,1.1c3.3,0.7,9.3,2.2,12.4,2.7	C239.9,8.7,242.4,8.6,242.4,8.6z M185.2,8.5c1.7-0.7-13.3,4.7-18.5,6.1c-2.1,0.6-6.2,1.6-10,2c-3.9,0.4-8.9,0.4-8.8,0.5	c0,0.2,5.8,0.8,11.2,0c5.4-0.8,5.2-1.1,7.6-1.6C170.5,14.7,183.5,9.2,185.2,8.5z M199.1,6.9c0.2,0-0.8-0.4-4.8,1.1	c-4,1.5-6.7,3.5-6.9,3.7c-0.2,0.1,3.5-1.8,6.6-3C197,7.5,199,6.9,199.1,6.9z M283,6c-0.1,0.1-1.9,1.1-4.8,2.5s-6.9,2.8-6.7,2.7	c0.2,0,3.5-0.6,7.4-2.5C282.8,6.8,283.1,5.9,283,6z M31.3,11.6c0.1-0.2-1.9-0.2-4.5-1.2s-5.4-1.6-7.8-2C15,7.6,7.3,8.5,7.7,8.6	C8,8.7,15.9,8.3,20.2,9.3c2.2,0.5,2.4,0.5,5.7,1.6S31.2,11.9,31.3,11.6z M73,9.2c0.4-0.1,3.5-1.6,8.4-2.6c4.9-1.1,8.9-0.5,8.9-0.8	c0-0.3-1-0.9-6.2-0.3S72.6,9.3,73,9.2z M71.6,6.7C71.8,6.8,75,5.4,77.3,5c2.3-0.3,1.9-0.5,1.9-0.6c0-0.1-1.1-0.2-2.7,0.2	C74.8,5.1,71.4,6.6,71.6,6.7z M93.6,4.4c0.1,0.2,3.5,0.8,5.6,1.8c2.1,1,1.8,0.6,1.9,0.5c0.1-0.1-0.8-0.8-2.4-1.3	C97.1,4.8,93.5,4.2,93.6,4.4z M65.4,11.1c-0.1,0.3,0.3,0.5,1.9-0.2s2.6-1.3,2.2-1.2s-0.9,0.4-2.5,0.8C65.3,10.9,65.5,10.8,65.4,11.1	z M34.5,12.4c-0.2,0,2.1,0.8,3.3,0.9c1.2,0.1,2,0.1,2-0.2c0-0.3-0.1-0.5-1.6-0.4C36.6,12.8,34.7,12.4,34.5,12.4z M152.2,21.1	c-0.1,0.1-2.4-0.3-7.5-0.3c-5,0-13.6-2.4-17.2-3.5c-3.6-1.1,10,3.9,16.5,4.1C150.5,21.6,152.3,21,152.2,21.1z"></path>
                    <path class="fill-white" d="M269.6,18c-0.1-0.1-4.6,0.3-7.2,0c-7.3-0.7-17-3.2-16.6-2.9c0.4,0.3,13.7,3.1,17,3.3	C267.7,18.8,269.7,18,269.6,18z"></path>
                    <path class="fill-white" d="M227.4,9.8c-0.2-0.1-4.5-1-9.5-1.2c-5-0.2-12.7,0.6-12.3,0.5c0.3-0.1,5.9-1.8,13.3-1.2	S227.6,9.9,227.4,9.8z"></path>
                    <path class="fill-white" d="M204.5,13.4c-0.1-0.1,2-1,3.2-1.1c1.2-0.1,2,0,2,0.3c0,0.3-0.1,0.5-1.6,0.4	C206.4,12.9,204.6,13.5,204.5,13.4z"></path>
                    <path class="fill-white" d="M201,10.6c0-0.1-4.4,1.2-6.3,2.2c-1.9,0.9-6.2,3.1-6.1,3.1c0.1,0.1,4.2-1.6,6.3-2.6	S201,10.7,201,10.6z"></path>
                    <path class="fill-white" d="M154.5,26.7c-0.1-0.1-4.6,0.3-7.2,0c-7.3-0.7-17-3.2-16.6-2.9c0.4,0.3,13.7,3.1,17,3.3	C152.6,27.5,154.6,26.8,154.5,26.7z"></path>
                    <path class="fill-white" d="M41.9,19.3c0,0,1.2-0.3,2.9-0.1c1.7,0.2,5.8,0.9,8.2,0.7c4.2-0.4,7.4-2.7,7-2.6	c-0.4,0-4.3,2.2-8.6,1.9c-1.8-0.1-5.1-0.5-6.7-0.4S41.9,19.3,41.9,19.3z"></path>
                    <path class="fill-white" d="M75.5,12.6c0.2,0.1,2-0.8,4.3-1.1c2.3-0.2,2.1-0.3,2.1-0.5c0-0.1-1.8-0.4-3.4,0	C76.9,11.5,75.3,12.5,75.5,12.6z"></path>
                    <path class="fill-white" d="M15.6,13.2c0-0.1,4.3,0,6.7,0.5c2.4,0.5,5,1.9,5,2c0,0.1-2.7-0.8-5.1-1.4	C19.9,13.7,15.7,13.3,15.6,13.2z"></path>
                </svg>
        </section>

        <section class="pt-10 pb-20">
            <CommonContainer>
                <div class="flex flex-col items-center justify-center gap-3 p-10 text-center text-primary" data-aos="fade-up">
                    <p>{{ $t('how_it_work') }}</p>
                    <h3 class="text-3xl md:text-5xl mt-2 font-semibold text-balance">{{ $t('few_steps') }}</h3>
                    <p>{{ $t('steps_3') }}</p>
                </div>
    
                <div class="grid grid-cols-1 md:grid-cols-4 justify-center items-center gap-4">
                    <div class="text-center p-2 relative flex flex-col gap-4 items-center justify-center" data-aos="fade-up">
                        <Icon class="text-indigo-500" name="fluent:form-multiple-28-filled" size="36"/>
                        <h5 class="text-xl font-semibold text-primary capitalize">{{ $t('step_1.title') }}</h5>
                        <p class="text-sm text-primary">{{ $t('step_1.subtitle') }}</p>
    
                        <img 
                            loading="lazy"
                            decoding="async"
                            width="104"
                            height="15"
                            src="https://paykupayments.com/wp-content/uploads/2023/05/how-works-arrow-2-1.png"
                            class="absolute right-0 top-36 md:top-4 md:-right-10 rotate-90 md:rotate-0"
                            alt=""
                            style="width:100%;height:14.42%;max-width:104px;"
                        >
                    </div>
                    
                    <div class="text-center p-2 relative flex flex-col gap-4 items-center justify-center" data-aos="fade-up">
                        <Icon class="text-indigo-500" name="carbon:transform-instructions" size="36"/>
                        <h5 class="text-xl font-semibold text-primary capitalize">{{ $t('step_2.title') }}</h5>
                        <p class="text-sm text-primary">{{ $t('step_2.subtitle') }}</p>
    
                        <img 
                            loading="lazy"
                            decoding="async"
                            width="104"
                            height="15"
                            src="https://paykupayments.com/wp-content/uploads/2023/05/how-works-arrow-1-1.png"
                            class="absolute md:top-4 md:-right-10 md:rotate-0 rotate-90 right-52 top-36"
                            alt=""
                            style="width:100%;height:14.42%;max-width:104px;"
                        >
                    </div>
            
                    <div class="text-center p-2 relative flex flex-col gap-4 items-center justify-center" data-aos="fade-up">
                        <Icon class="text-indigo-500" name="fluent:wallet-credit-card-32-filled" size="36"/>
                        <h5 class="text-xl font-semibold text-primary capitalize">{{ $t('step_3.title') }}</h5>
                        <p class="text-sm text-primary">{{ $t('step_3.subtitle') }}</p>
    
                        <img 
                            loading="lazy"
                            decoding="async"
                            width="104"
                            height="15"
                            src="https://paykupayments.com/wp-content/uploads/2023/05/how-works-arrow-2-1.png"
                            class="absolute md:top-4 md:-right-10 rotate-90 md:rotate-0 right-0 top-36"
                            alt=""
                            style="width:100%;height:14.42%;max-width:104px;"
                        >
                    </div>
            
                    <div class="text-center p-2 flex flex-col gap-4 items-center justify-center" data-aos="fade-up">
                        <Icon class="text-indigo-500" name="lets-icons:done-ring-round-fill" size="36"/>
                        <h5 class="text-xl font-semibold text-primary capitalize">{{ $t('step_4.title') }}</h5>
                        <p class="text-sm text-primary">{{ $t('step_4.subtitle') }}</p>
                    </div>
                </div>
            </CommonContainer>
        </section>
    </main>
</template>