<template>
    <main>
        <CommonContainer class="md:py-8 md:px-0 px-4">
            <h1 class="text-center text-4xl md:text-8xl font-semibold text-primary">{{ $t('payment_methods') }}</h1>
    
            <div class="my-8 text-primary">
                <h3 class="text-2xl font-semibold">{{ $t('payment_methods_compatible') }}</h3>
                <p class="mt-4 leading-relaxed text-sm">{{ $t('payment_methods_compatible_desc') }}</p>
            </div>
    
            <div class="flex items-center justify-center md:justify-end gap-4">
                <p class="text-primary font-semibold">{{ $t('choose_country') }}:</p>
                <Button class="py-2 px-4 text-sm bg-primary text-white">Indonesia</Button>
            </div>
    
            <Paymentscard/>
        </CommonContainer>
    </main>
</template>