<script setup>
const methods = [
    {
        payment_method_name_short: 'Virtual Accounts',
        payment_method_name_long: 'Virtual Accounts (Bank Transfer)',
        description: 'Automatically recognize and accept payments with ease across different banks with a single VA, without maintaining multiple separate bank accounts.',
        image: 'https://paykupayments.com/wp-content/uploads/2023/05/Screenshot_42-1024x315.png'
    },
    {
        payment_method_name_short: 'Cards',
        payment_method_name_long: 'Cards',
        description: 'We support local and international payments for credit / debit cards on Visa, MasterCard, JCB and AMEX. Merchants who process card payments enjoy up to 30% increased acceptance rates by using Xendit, while keeping chargeback rates low using our in-house fraud detection system.',
        image: 'https://paykupayments.com/wp-content/uploads/2023/05/JCB-logo.png'
    },
]
</script>

<template>
    <CommonContainer as="main" class="text-primary">
        <h1 class="text-center text-4xl md:text-8xl font-semibold">{{ $t('pricing') }}</h1>

        <div class="my-8 px-4 md:px-0">
            <h3 class="text-3xl font-semibold">{{ $t('pricing_simple') }}</h3>
            <p class="mt-4">{{ $t('pricing_desc') }}</p>
            <p class="italic">{{ $t('pricing_desc_italic') }}.</p>
        </div>

        <section class="shadow-lg rounded-lg p-4 my-4">
            <div class="flex flex-col md:flex-row items-start gap-6">
                <div class="bg-primary p-3 rounded-full text-white flex">
                    <Icon name="pepicons-pop:dollar" size="32" class="text-white"/>
                </div>

                <div>
                    <div>
                        <h3 class="text-2xl font-semibold">{{ $t('payments') }}</h3>
                        <h3 class="text-black text-2xl font-semibold py-4">{{ $t('payments_methods_easily') }}</h3>
                        <p>{{ $t('payments_methods_easily_desc') }}</p>
                        <ul class="text-black my-4 space-y-2">
                            <li class="flex flex-row items-center text-sm"><Icon class="text-primary" name="lets-icons:check-fill" size="18"/>{{ $t('simple_integration') }}</li>
                            <li class="flex flex-row items-center text-sm"><Icon class="text-primary" name="lets-icons:check-fill" size="18"/>{{ $t('real_time_notif') }}</li>
                            <li class="flex flex-row items-center text-sm"><Icon class="text-primary" name="lets-icons:check-fill" size="18"/>{{ $t('report_n_analytic') }}</li>
                        </ul>
                    </div>
        
                    <div v-for="method in $tm('payment_methods_data')" class="grid grid-cols-1 gap-4 md:grid-cols-3 items-center">
                        <div class="space-y-4 border-r py-4 md:col-span-2 px-4">
                            <h3 class="text-xl text-black font-semibold">{{ method.payment_method_name_long }}</h3>
                            <p class="text-normal">{{ method.description }}</p>
                            <img :src="method.image" alt="">
                            <small>&ast; {{ $t('transaction_fee') }}</small>
                        </div>
                        <div class="text-center">
                            <h3><span class="text-3xl font-semibold">2.90%</span> {{ $t('per_transaction') }}&ast;</h3>
                        </div>
                        <br/>
                    </div>
                </div>
            </div>
            
            <div class="flex flex-col md:flex-row items-start md:items-center gap-4 bg-primary/40 rounded-md p-2">
                <p class="text-normal">{{ $t('transacting_500m') }}</p>
                <Button class="bg-primary text-white">{{ $t('menus.contact_sales') }}</Button>
            </div>
        </section>
    </CommonContainer>
</template>